body{
    text-align: center;
    background-color: aquamarine;
}
#heading{
    color: black;
}
#st{
    color: rgb(47, 2, 88);
}
#nd{
    color: crimson;
}
#rd{
    color: rgb(1, 59, 1);
}